body {
    margin: 0;
}

/* Hero */

.hero {
    background: #242424;
    color: white;
}

.heading {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading__line-1 {
    font-size: 40px;
}